:root {
  --primary-color: #5271ff;
  --secondary-color: #38b6ff;
  --title-color: #273167;
  --link-color: #3b3b3b;
  --box-color: #979797;
  --background-color: #f8f9ff;
}

main {
  margin-top: 3rem;
}

.navbar-collapse ul {
  display: none;
}

.page-container {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.sidebar-item {
  background-color: #fff;
  /* padding: 3rem 2.2rem; */
  padding: 2px 2px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
}

.user-name {
  font-size: 1.8rem;
  color: var(--title-color);
}
.menu-item {
  padding: 7px;
  margin-left: 0.01%;
  column-gap: 2px;
  color : var(--link-color);
  border-radius: 5px;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
}
.menu-item:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}
/* .menu-item:checked {
  background-color: var(--primary-color);
  color: var(--background-color);
} */
.container-rounded{
  border-radius: 10px;
}