:root {
  --primary-color: #5271ff;
  --secondary-color: #38b6ff;
  --title-color: #273167;
  --link-color: #3b3b3b;
  --box-color: #979797;
  --background-color: #f8f9ff;
}

main {
  margin-top: 3rem;
}

.navbar-collapse ul {
  display: none;
}

.page-container {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.sidebar-item {
  background-color: #fff;
  padding: 2px 2px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #646464;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.user-name {
  font-size: 1.8rem;
  color: var(--title-color);
}
.container-rounded {
  border-radius: 10px;
  padding: 5px;
  /* margin:5px; */
  width: fit-content;
}
input[type="text"],
input[type="date"] {
  width: 15rem;
  height: 2rem;
  box-sizing: border-box;
}
.container.row.col {
  justify-content: space-between;
  text-align: center;
}
.container .row {
  margin: 5px;
}
.overview .float-content .container-rounded {
  background-color: white;
  width: 210px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  gap: 3px;
}
.overview .float-content .container-rounded > ul > li {
  margin: 10px 0px;
}
footer {
  position: relative;
  bottom: 0px;
}
.container {
  padding: 0px;
}
.cell {
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;

  /*this centers the text vertically*/
  align-items: center;
}
.form {
  width: 100%;
  align-self: center;
}
.form-group {
  display: flex;
  /* margin-bottom: 2rem; */
  flex-direction: column;
  position: relative;
}
.form-label,
.form-message {
  text-align: left;
}

.form-group.invalid .form-text {
  border: 2px solid #ff0000;
  /* border-color: #ff0000; */
}
.form-message {
  font-size: 1rem;
  padding: 0.4rem 0 0;
  line-height: 1.6rem;
}

.form-group.invalid .form-message {
  color: #ff0000;
}
.modal-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--title-color);
  /* margin-bottom: 2rem; */
}

.modal-body {
  font-size: 1.3rem;
  font-weight: 300;
  /* border: 0; */
}

a:hover > i {
  transform: rotate(0);
}

.nav-item {
  padding: 0 0.5rem;
}
.nav-item > a {
  height: 3rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

input {
  border: 0px;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  font-size: 16px;
}

.modal-body {
  font-size: 16px;
}

.modal-body input {
  padding: 10px 20px;
}

.modal-body .col {
  display: flex;

  /*this centers the text horizontally*/
  

  /*this centers the text vertically*/
  align-items: center;  
}

.avatar {
  object-position: top;
}

#btn-search-usermanage,
#btn-search-coursemanage,
#btn-form-addcategory,
#btn-search-categorymanage,
#btn-search-tradeanalytics,
#btn-search-studentanalytics,
#btn-search-expertanalytics,
#btn-search-courseanalytics {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0px;
  font-size: 16px;
}

#txtsearch-usermanage {
  border: 0px;
  font-size: 16px;
  padding: 1.2rem 2rem;
}
.search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  /* margin-bottom: 1rem; */
}
label.btn {
  font-size: 16px;
  padding: 5px 10px;
}

input[type="text"],
input[type="date"] {
  width: 15rem;
  height: 40px;
  box-sizing: border-box;
}
#btn-banacc,
#btn-delacc,
#deleteCategory {
  background-color: #ff0000;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0px;
  font-size: 16px;
}
.btn-default {
  background-color: #f5f5f5;
  color: #000000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
}
#btn-unbanacc {
  background-color: #38b6ff;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0px;
  font-size: 16px;
}

.btn:focus {
  outline: none;
  border: 0;
}
