:root {
  --primary-color: #5271ff;
  --secondary-color: #38b6ff;
  --title-color: #273167;
  --link-color: #3b3b3b;
  --box-color: #979797;
  --background-color: #f8f9ff;
}

main {
  margin-top: 3rem;
}

.navbar-collapse ul {
  display: none;
}

.page-container {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.sidebar-item {
  background-color: #fff;
  padding: 2px 2px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.user-name {
  font-size: 1.8rem;
  color: var(--title-color);
}
.container-rounded {
  border-radius: 10px;
  padding:5px;
  /* margin:5px; */
  width: fit-content;
}
input[type="text"], input[type="date"] {
  width: 15rem;
  height: 2rem;
  box-sizing: border-box;
}
.container.row.col {
  justify-content: space-between;
  text-align: center;
}
.container .row {
  margin: 5px;
}
.overview .float-content .container-rounded {
  background-color: white;
  width: 210px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  gap: 3px;
}
.overview .float-content .container-rounded > ul > li {
  margin: 10px 0px;
}
footer {
  position: relative;
  bottom: 0px;
}
.container {
  padding: 0px;
}
.cell {
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;

  /*this centers the text vertically*/
  align-items: center;
}
