@import url(/styles/variables.css);

html {
  font-size: 62.5%;
}

.page-container {
  margin-top: 8rem;
}

.detail-title {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--title-color);
  margin-left: 5rem;
  margin-bottom: 2rem;
}

section.detail-form {
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem 5rem;
  font-size: 2rem;
}

.hidden {
  display: none !important;
}

.detail-item {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.detail-item.detail-lesson {
  display: grid;
  grid-template-columns: 18% 82%;
  margin-bottom: 3rem;
  align-items: center;
}

.detail-label {
  width: 25rem;
}

.select-control {
  width: 80rem;
  height: 5rem;
  border: none;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 1.2rem 2rem;
}

.detail-item input {
  width: 80rem;
  height: 5rem;
  border: none;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 1.2rem 2rem;
}

#video-drag {
  width: 80rem;
  height: calc(88.8rem * 9 / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  background-image: url(/images/upload-video.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border: 2px dashed #404040;
  cursor: pointer;
}

#video-drag.invalid {
  background-color: transparent;
}

.action > button,
i {
  margin-left: 1.5rem;
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--secondary-color);
}

.action-remove:hover {
  color: #ff0000;
}

.action-edit:hover {
  color: #000;
}
.action-add:hover {
  color: var(--primary-color);
}

.video-action .video-edit {
  margin-left: 1.5rem;
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--secondary-color);
}

#file-drag {
  width: 70rem;
  height: calc(70rem * 9 / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  background-image: url(/images/upload.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border: 2px dashed #404040;
  cursor: pointer;
}
#file-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

#file-video {
  width: 80rem;
  height: 100%;
}

.btn {
  width: 24rem;
  height: 5rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
}
.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}
.action > button {
  border: none;
  background-color: transparent;
}

.modal {
  font-size: 2rem;
}
.modal input {
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.modal textarea {
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.modal .btn-modal {
  width: 10rem;
  height: 4rem;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  border: none;
  color: #fff;
}

.modal .btn-cancel {
  background-color: #ff0000;
}

.progress-bar {
  width: 80rem;
  height: 1.5rem;
  border-radius: 10px;
  background-color: #ccc;
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #1abc9c;
  transition: width 0.5s ease-in-out;
}

.ck-editor__editable {
  height: 20rem;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
  resize: none;
}

.ck-editor {
  width: 80rem !important;
}

.desc-content > label {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--title-color);
  margin-bottom: 1rem;
}

.ck-editor__editable ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ck-editor__editable a {
  color: inherit;
  text-decoration: none;
}

.ck-editor__editable b {
  font-weight: 600;
}

.ck-editor__editable i {
  font-style: normal;
}

.quiz-container {
  width: 80rem;
}

.quiz-item {
  background-color: #f2f2f2;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#quiz-answer-correct {
  color: #1abc9c;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: #f2f2f2;
  padding: 0.5rem 0.5rem;
}

.message {
  color: #ff0000;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 1rem;
}

.detail-item.message > input {
  border: 1px solid #ff0000;
}

.detail-item.message > select {
  border: 1px solid #ff0000;
}

.detail-item.message #file-drag {
  border: 2px dashed #ff0000;
}

.detail-item.message #video-drag {
  border: 2px dashed #ff0000;
}
