@import url(/styles/variables.css);
html {
  font-size: 62.5%;
}

.page-container {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.sidebar-item {
  background-color: #fff;
  /* padding: 3rem 2.2rem; */
  padding: 2px 2px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
}

.degree-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 1rem;
  background-color: #fff;
  margin: 1.5rem 1rem;
  border-radius: 1rem;
}

.degree-item > h4 {
  font-size: 2rem;
  margin-left: 3rem;
}

.degree-item > i {
  font-size: 2rem;
  color: var(--primary-color);
  margin-right: 5rem;
  cursor: pointer;
}

.degree-item > i:hover {
  opacity: 50%;
}

.degree-container {
  background-color: #f6f6f6;
  border-radius: 1rem;
  padding-top: 4rem;
  height: 70rem;
}

.degree-heading {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 7rem;
  margin: 2rem 0;
}

.degree-heading > h3 {
  font-size: 2.5rem;
  /* margin: 2rem 0; */
}

.degree-heading > i {
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
}

.degree-heading > i:hover {
  opacity: 50%;
}

.save-info.show-bankinfo {
  margin-top: 0;
  left: 0;
  transform: translateX(0);
}

.save-info {
  margin-top: 3rem;
}

.modal-content {
  width: auto;
  border-radius: 1rem;
}

.degree-title {
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
  color: var(--primary-color);
  margin-top: 3rem;
}
h4.degree-title {
  margin-top: 0;
}

.degree-info {
  display: flex;
  column-gap: 4rem;
  margin: 4rem;
}

.degree-info > img {
  width: 30rem;
  height: 40rem;
  object-fit: cover;
  object-position: center;
}

.degree-text > input {
  font-size: 2rem;
  padding: 1rem;
  width: 40rem;
  height: 5rem;
  font-weight: 700;
  border: 0px;
  background-color: #ebebeb;
  border-radius: 1rem;
}

.degree-text > textarea {
  font-size: 2rem;
  padding: 1rem;
  width: 40rem;
  height: 30rem;
  font-weight: 300;
  margin-top: 3rem;
  padding-top: 2rem;
  border: 0px;
  background-color: #ebebeb;
  border-radius: 1rem;
}

.degree-text > input:focus {
  outline: none;
}

.degree-text > textarea:focus {
  outline: none;
}

.modal-footer > button {
  width: 24rem;
  height: 6rem;
  position: relative;
  left: 0;
  transform: translateX(-70%);
}

.bankinfo-title {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  font-weight: 700;
  margin-top: 4rem;
}

.bankinfo-info {
  display: flexbox;
  column-gap: 4rem;
  margin: 4rem;
}

.bankinfo-info > input {
  font-size: 2rem;
  width: 60rem;
  font-weight: 400;
  margin-top: 3rem;
  border-radius: 1rem;
  border: 0px;
  background-color: #ebebeb;
  padding: 1.5rem 2rem;
}

.save-info.create-course {
  margin-top: 3rem;
}

.modal-action {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #fff;
  margin: 1.5rem 1rem;
}

.modal-action > button {
  width: 30rem;
  left: 0;
  transform: translateX(0);
}

.modal.show .modal-dialog {
  transform: translateX(-25%);
}

#degree-modal .modal-footer * {
  transform: translateX(-20rem);
}

.degree-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#degree-drag {
  width: 40rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  cursor: pointer;
  border-radius: 1rem;
  border: 2px dashed #787878;
  background-image: url(/images/upload.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
}

.hidden {
  display: none;
}

#degree-image {
  width: 40rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 1rem;
  object-position: center;
}

.hidden {
  display: none;
}
