@import url(variables.css);
html {
  font-size: 62.5%;
}

main {
  margin: 3rem 0;
}

.page-container {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.search-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.search-title > span {
  font-weight: 700;
}

.search-box {
  max-width: 50%;
  margin: 0 auto;
}

.search-box > span {
  font-size: 1.5rem;
  background-color: #f5f6fc;
  padding: 1.5rem;
  border: 0px;
  border-radius: 1rem 0 0 1rem;
}

.search-box > input {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  background-color: #f5f6fc;
  border: 0px;
  border-radius: 1rem;
}

.search-tag {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
}

.search-item > i {
  font-size: 1.8rem;
  background-color: #444;
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
}

.search-item > span {
  font-size: 1.6rem;
  color: #444;
  padding: 1.2rem 2rem 1.2rem 0.5rem;
  font-weight: 300;
}
.search-item {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 3rem;
  cursor: pointer;
}

.search-item.active {
  background-color: #ebf8ff;
  cursor: default;
}
.search-item.active > i {
  background-color: var(--primary-color);
}

.search-list {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
