@import url(variables.css);

.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carousel {
  margin-top: 40px;
  border-radius: 20px;
}

.author-preview {
  width: 80%;

  display: block;
  margin: 0 auto;
}

.author-item {
  width: 250px;
  height: 350px;
  /* background-color: #3b3b3b; */
  border: 2px solid #e9e9e9;
  border-radius: 20px;
}

.author-item > img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;

  display: block;
  margin: 55px auto;

  object-position: top;

  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
}

.author-item > h4 {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  margin-bottom: 10px;
}

.author-item > h3 {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 600;
  color: var(--title-color);
}

.author-title {
  max-width: 65%;
  padding: 30px 0;
  font-size: 40px;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 1.4;
}

.author-desc {
  max-width: 65%;
  font-size: 20px;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  display: block;
  margin: 30px auto;
}

.author-desc::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: var(--secondary-color);
  margin: 0 auto;
  margin-top: 20px;
}

.donors {
  margin-bottom: 30px;
}

.list-donors {
  background: linear-gradient(180deg, #00f0ff80 0%, #0041e980 100%);
  padding: 30px 0;
}
