:root {
  --primary-color: #5271ff;
  --secondary-color: #38b6ff;
  --title-color: #273167;
  --link-color: #3b3b3b;
  --box-color: #979797;
  --donor-color: #eaf3fa;
}

.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carousel {
  margin-top: 40px;
  border-radius: 20px;
}

.author-preview {
  width: 80%;

  display: block;
  margin: 0 auto;
}

.author-item {
  width: 250px;
  height: 350px;
  /* background-color: #3b3b3b; */
  border: 2px solid #e9e9e9;
  border-radius: 20px;
}

.author-item > img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;

  display: block;
  margin: 55px auto;

  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
}

.author-item > h4 {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  margin-bottom: 10px;
}

.author-item > h3 {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 600;
  color: var(--title-color);
}

.author-title {
  max-width: 65%;
  padding: 30px 0;
  font-size: 40px;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 1.4;
}

.author-desc {
  max-width: 65%;
  font-size: 20px;
  font-weight: 400;
  color: var(--title-color);
  text-align: center;
  display: block;
  margin: 30px auto;
}

.author-desc::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: var(--secondary-color);
  margin: 0 auto;
  margin-top: 20px;
}

.donors {
  margin-bottom: 30px;
}

.list-donors {
  background: linear-gradient(180deg, #00f0ff80 0%, #0041e980 100%);
  padding: 30px 0;
}

#list-courses {
  display: grid;
  margin: 0 100px;
  /* place-items: center; */
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.course-item {
  width: 400px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.course-item > img {
  width: 400px;
  height: 250px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.course-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--title-color);
  padding: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-author > img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.course-author > span {
  font-size: 15px;
  font-weight: 400;
  color: var(--title-color);
}

.course-author {
  padding-left: 10px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.course-tag {
  font-size: 10px;
  color: #fff;
  background-color: #e56015;
  padding: 4px;
  padding-left: 10px;
  clip-path: polygon(100% 0, 100% 99%, 0% 100%, 6% 50%, 0% 0%);
  border-radius: 5px;
}

.course-info {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.course-more {
  font-size: 18px;
  display: block;
  margin: 30px auto;
  background-color: #f2f2f2;
  color: #8d8d8d;
  padding: 10px 20px;
  border: 0px;
  border-radius: 20px;
}

.introduce {
  background-image: url(/images/footer-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
}
.introduce-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  grid-gap: 30px;
  padding: 0 20px;
}

.introduce-contrainer {
  max-width: 80%;
  margin: 0 auto;
}

.info-logo {
  margin-bottom: 12px;
}

.info-header {
  font-size: 18px;
  font-weight: 600;
  color: var(--title-color);
  margin-top: 55px;
  margin-bottom: 10px;
}
.info-item {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}

.list-social {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.social-item {
  font-size: 50px;
  color: var(--primary-color);
}

.courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
