:root {
  --primary-color: #5271ff;
  --secondary-color: #38b6ff;
  --title-color: #273167;
  --link-color: #3b3b3b;
  --box-color: #979797;
  --background-color: #f8f9ff;
}

html {
  font-size: 62.5%;
}

.login-register-form {
  padding: 14rem 5rem 0 5rem;
}

.form {
  width: 100%;
  align-self: center;
}

.form .heading {
  font-size: 3.2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: var(--title-color);
  font-weight: 500;
}
.form .desc {
  font-size: 1.8rem;
  padding-bottom: 2rem;
  line-height: 1.3;
  color: var(--title-color);
  font-weight: 300;
}
.form-group {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  position: relative;
}

.form-icon {
  color: var(--box-color);
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.form-label,
.form-message {
  text-align: left;
}

.form-text {
  border: 0;
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 1.8rem 5rem;
  font-size: 1.8rem;
  outline: none;
  transition: all 0.3s;
}

.form-control {
  border: 0;
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 1.8rem 5rem;
  font-size: 1.8rem;
  outline: none;
  transition: all 0.3s;
}

.form-text:hover {
  border-color: rgb(40, 80, 159);
}

.form-text:focus {
  border-color: rgb(40, 80, 159);
  box-shadow: 0 0 0 0.2rem rgba(40, 80, 159, 0.25);
  color: var(--primary-color);
}

.form-group.invalid .form-text {
  border: 2px solid #ff0000;
  /* border-color: #ff0000; */
}

.form-group.invalid .form-icon {
  top: 38%;
}

.form-message {
  font-size: 1.4rem;
  padding: 0.4rem 0 0;
  line-height: 1.6rem;
}

.form-group.invalid .form-message {
  color: #ff0000;
}

.form-submit {
  background-color: var(--primary-color);
  min-width: 100%;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 1.6rem 1.6rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.form-submit:hover {
  background-color: #28509f;
  opacity: 0.8;
  transform: translateY(0.2rem);
  box-shadow: -0.5rem -0.5rem 0 rgba(0, 0, 0, 0.1);
}

.login-register-right {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1680007631114-cc0b37816fff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-register {
  display: grid;
  grid-template-columns: 30% 70%;
  flex-wrap: nowrap;
  min-height: 100vh;
}

.login-register-right > img {
  width: 100%;
  height: 99%;
  object-fit: cover;
}

.login-register-left {
  min-height: 100vh;
  background-color: #fff;
}

.form-forget {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: var(--link-color);
}

.form-register {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: var(--link-color);
}
.form-register > a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
