* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Make footer always at bottom of our screen */
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: "Lexend", sans-serif;
  margin: 0 auto;
}

:root {
  --primary-color: #5271ff;
  --secondary-color: #38b6ff;
  --title-color: #273167;
  --link-color: #3b3b3b;
  --box-color: #979797;
  --background-color: #f8f9ff;
}

/* Override link style */
a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
  opacity: 0.8;
}

a > i {
  transition: all 0.25s;
}

a:hover > i {
  transform: rotate(90deg);
}

/* Add underline for all h1 */
h1.with-underline {
  position: relative;
  margin-bottom: 3rem;
}

h1.with-underline::after {
  content: "";
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;

  width: 5rem;
  height: 0.25rem;
  margin: 0 auto;
  border-radius: 0.25rem;

  background-color: #444;
}

/* Reset ul style */
ul {
  list-style-type: none;
}

.nav .nav__link {
  text-decoration: none;
}

.nav .nav__link > i {
  margin-right: 0.5rem;
}

.navbar {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  padding: 0 20px;
  max-width: 80%;
  margin: 0 auto;
}
.navbar-brand > img {
  scale: 0.8;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
  color: var(--secondary-color);
}

.btn {
  font-size: 20px;

  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.btn:hover {
  color: #fff;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.btn:active {
  border: 2px solid var(--primary-color);
}

.btn-login {
  padding: 8px 40px;
  border-radius: 20px;
}

.btn-search {
  border-radius: 10px;
}

.nav-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.nav-oder {
  font-size: 35px;
  color: var(--box-color);
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.text-search {
  border-radius: 10px;
  padding-right: 40px;
  margin-left: 20px;
}

.nav-link {
  color: var(--link-color);
}

.nav-link:hover {
  color: var(--secondary-color);
}

.page-container {
  max-width: 80%;
  margin: 0 auto;
}
